@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  width: 100%;
  height: 100%;
  color: #fffeff;
  -webkit-font-smoothing: antialiased;
}

#router {
  padding: 0px;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
}